.display_bro{
    display: flex;
    margin-left:0%;
    min-height:30px;
    max-height: 100%;
    max-width:100% ;
    color: beige;
    font-size: small;
}


.imgimpr{
    display: flex;
    margin-left: -04px;
    min-height:30px;
    max-height: 100%;
    max-width:100% ;
}

.imgimpr:hover{
    transform: scale(1.07);
    transition: .9s;
    cursor: pointer;
}

.divmagico{
    display: flex;
    justify-content: center;
    margin-top: -230px;
    padding: 20px;
    margin-bottom: -100px ;
}
.lgprov{
    min-height:30px;
    max-height: 100%;
    max-width:100% ; 
}
.lgprov:hover{
    transform: scale(1.05);
    transition: .9s;
    cursor: pointer;
}
.modif:hover{
    transform: scale(1.05);
    transition: .9s;
    cursor: pointer; 
}

.lead{
    color: black;
}

.display-5{
    color: rgb(88, 88, 88);
}

.display-5:hover{
    color: rgb(196, 18, 18); 
}
