<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="table_cont">
        <table class="link_tab table table-striped">
            <tr>
                <td>kyocera</td>
                <td>
                    <a href="/kyocera">
                    <button type="button" class="btn btn-primary" >ir a pagina</button>
                </a>
                </td>
            </tr>
            <tr>
                <td>brother</td>
                <td>
                    <a  href="/brother">
                    <button type="button" class="btn btn-primary">ir a pagina</button>
                </a>
            </td>
            </tr>
            <tr>
                <td>Toshiba</td>
                <td>
                    <a  href="/toshiba">
                        <button type="button" class="btn btn-primary" href="/toshiba">ir a pagina</button>
                    </a>
                </td>
            </tr>
            <tr>
                <td>principal</td>
                <td>
                    <a href="/index"></a>
                    <button type="button" class="btn btn-primary"  >ir a pagina</button></td>
            </tr>
            <tr>
                <td>quienes somos</td>
                <td><a href="/QuienesSomos">
                    <button type="button" class="btn btn-primary">ir a pagina</button>
                </a>
            </td>
            </tr>
            

        </table>
    </div>
</body>

</html>