<!DOCTYPE html5>
<body class="brother_main">





    <main>
        <div class="divmagico"><img src="../../assets/img/lgprov/Brother_logo.svg.png" alt="" width="400px" height="100px" class="lgprov"></div>
        <div class="d-md-flex flex-md-equal0 my-md-3 ps-md-3 display_bro">
            <div class="modif">    
                <div class="shadow-lg p-3 mb-5 bg-white rounded me-md-3 pt-3 px-3 pt-md-6 px-md-5 text-center overflow-hidden">
                    <div class="my-3 p-3 ">
                        <h2 class="display-5">BROTHER TC203</h2>
                        <p class="lead">And an even wittier subheading.</p>
                    </div>
                    <div class="bg-body-tertiary shadow-sm mx-auto" style="width: 80%; height: 250px; border-radius: 21px 21px 0 0;">
                        <div> <img src="../../assets/img/brotherimg/brother3.png" alt="" width="250" height="250" class="imgimpr"> </div> <!-- imagen impresora 1 -->
                    </div>
                </div>
            </div>
            <div class="modif">
                <div class="shadow-lg p-3 mb-5 bg-white rounded me-md-3 pt-3 px-3 pt-md-6 px-md-5 text-center overflow-hidden">
                    <div class="my-3 p-3 ">
                        <h2 class="display-5">BROTHER TC203</h2>
                        <p class="lead">And an even wittier subheading.</p>
                    </div>
                    <div class="bg-body-tertiary shadow-sm mx-auto" style="width: 80%; height: 250px; border-radius: 21px 21px 0 0;">
                        <div> <img src="../../assets/img/brotherimg/brother2.png" alt="" width="250" height="250" class="imgimpr"> </div>
                    </div>
                </div>
            </div>
            <div class="modif">
                <div class="shadow-lg p-3 mb-5 bg-white rounded me-md-3 pt-3 px-3 pt-md-6 px-md-5 text-center overflow-hidden">
                    <div class="my-3 p-3 ">
                        <h2 class="display-5">BROTHER TC203</h2>
                        <p class="lead">And an even wittier subheading.</p>
                    </div>
                    <div class="bg-body-tertiary shadow-sm mx-auto" style="width: 80%; height: 250px; border-radius: 21px 21px 0 0;">
                        <div> <img src="../../assets/img/brotherimg/brother4.png" alt="" width="250" height="250" class="imgimpr"> </div>
                    </div>
                </div>
            </div>
            <div class="modif">
                <div class="shadow-lg p-3 mb-5 bg-white rounded me-md-3 pt-3 px-3 pt-md-6 px-md-5 text-center overflow-hidden">
                    <div class="my-3 p-3 ">
                        <h2 class="display-5">BROTHER TC203</h2>
                        <p class="lead">And an even wittier subheading.</p>
                    </div>
                    <div class="bg-body-tertiary shadow-sm mx-auto" style="width: 80%; height: 250px; border-radius: 21px 21px 0 0;">
                        <div> <img src="../../assets/img/brotherimg/brotherTC502.png" alt="" width="220" height="250" class="imgimpr"> </div>
                    </div>
                </div>
            </div>
            
            

            
        </div>



        <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">


        </div>
    </main>


</body>